[2020-01-18 00:42] corneliusweig opened #8 "Distribute cli-utils via krew"
In some distant SIG-CLI meeting a long time ago (https://docs.google.com/document/d/1r0YElcXt6G5mOWxwZiXgGu_X6he3F--wKwg-9UBc29I/edit#heading=h.cok3ckor4epp) it was dicussed to bring `cli-utils` into krew. As far as I remember, it was one of several options to make these tools public.

I wonder what the plans are for these utils, as the development has somewhat abated. Maybe it would be a good ide

[2020-03-02 22:50] phanimarupaka opened #75 "Add suffix (Preview) to preview command output"

[2020-03-02 22:58] phanimarupaka opened #76 "Make sure grouping object is applied first"

[2020-03-05 02:47] mortent commented on #75
This was fixed in #79

[2020-03-05 02:47] #75 closed

[2020-03-05 02:51] mortent commented on #76
This was actually a problem where we swallowed validation errors. This has been fixed.

[2020-03-05 02:51] #76 closed

[2020-03-05 22:25] mortent opened #87 "Specifying current directory as argument to init produces invalid resource"
Running `kapply init .` produces a grouping object with a label with the form `cli-utils.sigs.k8s.io/inventory-id: .-167716`. Labels are not allowed to have values that start with `.`, so this causes `kapply apply .` to fail.

[2020-03-06 00:01] seans3 commented on #87
An initial fix will probably expand `.` to the absolute current working directory. But another approach which sounds tempting is use a UUID as the groupname, since it really only needs to be unique. User could override it with the `--group-name` flag if they want something more readable.

[2020-03-20 05:07] #87 closed

[2020-04-15 06:25] seans3 opened #124 "Status printing shows extra output for `apply` and `preview`"
Status printing shows extra output for `apply` and `preview` commands.

To reproduce (example) for `preview`:

[code]

Some of the lines of output are extraneous. The same happens for the `apply` command.

[2020-04-15 06:26] seans3 commented on #124
/assign @mortent

[2020-04-15 21:22] #124 closed

[2020-05-11 19:03] seaneagan opened #167 "Reconciling vs Stalled overlap"
The `Reconciling` condition seems to encode whether the controller is currently still attempting to reconcile the resource (at its current observed generation), i.e. `Reconciling==False` (done), `Reconiling !=False` (potentially not done), and doesn't say anything about success/failure. The "Stalled" terminology seems to have some overlap with this, where `Stalled==True` (done and failed), `Stalle

[2020-05-11 20:28] seans3 commented on #167
/assign @mortent

[2020-05-12 14:41] seaneagan commented on #167
So I guess this issue is really just about an ability to signal temporary errors via the kstatus library (1. above). It could be solved additively on top of the `Stalled` condition, but was just checking on the possibility of solving it with a smaller API surface via an alternative to the `Stalled` condition. Point 2. above is pretty easy to resolve by having some utility code to manage `Stalled`

[2020-05-12 20:39] mortent commented on #167
The intention of the `Stalled` condition is to signal that the controller has not made the expected progress towards reconciling the desired state with the actual state. This can be caused by an actual error or it can be due to a timeout. So the interpretation of it should be something like :

`there seems to be something wrong, so someone should take a look. It might also be that something is jus

[2020-05-13 20:12] teoyaomiqui opened #169 "Feature request: Allow to inject custom poller into Applier"
It would be very useful if Applier could be used as library with custom polling interface by, for example, allowing to inject it via [constructor](https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/apply/applier.go#L37-L49) as an option, or by making statusPoller field public in [here](https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/apply/applier.go#L67), or making a setter

[2020-05-17 21:53] seh opened #170 ""diff" command doesn't understand that hyphen means standard input"
In #143, we taught _diff_ and its sibling commands to interpret an absent directory argument as implying that it should read from standard input. The `common.processPaths` function [detects this case and synthesizes a single argument: the hyphen](https://github.com/kubernetes-sigs/cli-utils/pull/143/files#diff-cefd10b5b8fa86aa8efda967efafa31dR21-R22). However, _diff_ then fails later when it tries

[2020-05-19 03:59] mortent commented on #169
@teoyaomiqui This is good feedback. I'll try to get a change in this week.

Longer term we also want to make it easier to use custom status rules, but that is not something that we will get to in the near term.

[2020-05-19 04:36] mortent commented on #170
`kpt live preview` and `kpt live apply` use the kubctl builder to read the manifests, while it seems like diff uses the kyaml library. We need to make sure we don't pass the `-` argument to kyaml. I'll take a look at this.

[2020-05-19 14:37] teoyaomiqui commented on #169
@mortent thank you very much for taking a look into it.
Also another note, that i thought maybe the theoretically interested to you. We are implementing our own custom poller based on [this one](https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/kstatus/polling/polling.go#L23-L30), however to add non default status readers, we do a full copy of the reader and expand [createStatusReaders]

[2020-05-19 18:05] seans3 commented on #170
/assign

[2020-05-27 19:56] seans3 commented on #170
Work in progress: https://github.com/kubernetes-sigs/cli-utils/pull/175

[2020-05-27 20:00] seans3 commented on #170
The `diff` command filters out the inventory object, since these are computed and will always be different than the local inventory ConfigMap template. So, unlike other commands, we need to remove this inventory object from the file list before sending to the `kubectl diff` command underneath. While this is implemented for the directory `DIR` argument, it is not implemented for the new `STDIN` arg

[2020-05-29 03:59] #170 closed

[2020-05-29 20:46] mortent commented on #169
@teoyaomiqui We would like to make it possible to inject custom rules/readers into both the poller and eventually the Applier. We just haven't gotten to it yet.

[2020-06-16 02:30] #8 closed

[2020-06-16 16:43] seans3 commented on #8
/remove-lifecycle rotten

[2020-06-28 12:07] Raffo opened #196 "kstatus in cli-utils vs kustomize"
I'm trying to build a small CLI to solve the problem of waiting on kubernetes resources to reach they desired state, for example when deploying a new version of an application to a cluster.
I saw that the `kstatus` code lives here and in [the kustomize repo](https://github.com/kubernetes-sigs/kustomize/tree/master/kstatus) as well. Can someone shed a light on which one is the officially maintained

[2020-06-30 18:23] mortent commented on #196
@Raffo The official maintained version of the code is in this repo. The code that is in the Kustomize repo is an older version and it is no longer maintained.

[2020-06-30 19:19] Raffo commented on #196
@mortent thank you for the answer. Should I go ahead and make a PR to delete the code in kustomize? If we can reduce confusion for other people that'd be great. Otherwise, a note in the Readme should also be okay. WDYT?

[2020-07-03 19:58] mortent commented on #196
@Raffo I have removed the kstatus code from Kustomize. Thanks for pointing it out.

[2020-07-03 19:58] #196 closed

[2020-07-06 14:41] fsommar opened #197 "Server-side dry-run support for live preview"
Hi 👋

We're using `kpt live preview` for PR feedback purposes. We recently ran into a resource-naming issue where the name was not matching the expected Kubernetes regex for metadata.name. This would've been caught earlier if preview supported server-side dry-run.

It'd be great if the server-side dry-run for preview could echo the semantics of `kubectl apply --dry-run=server`.

My guess is that i

[2020-07-06 19:29] seans3 commented on #197
Hi @fsommar . Server-side dry-run requires an APIServer version >= 1.16 (it requires server-side apply which is turned on by default in 1.16). Currently, GKE is in the range of 1.14 - 1.16, with 1.17 as the rapid channel. So we're not currently in a position to use server-side apply/dry-run, since some clusters will not understand the server-side apply. Once we can rely on server-side apply, we wi

[2020-07-06 19:31] seans3 commented on #197
...as far as the change needed (once we intend to make it), the import of `kubectl` does not need to change (since it is about 1.18). But we'll need to update the `ApplyOptions` to fill in the server-side flags.

[2020-07-07 10:09] fsommar commented on #197
Ok, that makes sense. I saw that there were some server-side-apply-related flags, and figured that maybe at least the server-side dry-run could be exposed as a hidden flag? I created a PR for this in case that'd be an acceptable short-term fix.

[2020-07-14 10:40] fsommar opened #202 "Resource names with underscores lead to tainted inventory"
Creating a resource with underscores using `kpt live apply` will lead to a config map that breaks all actions with that inventory.

**How to reproduce**

[code]

which gives the following output:

[code]

The inventory is created before the file is rejected by the Kubernetes resource name constraint. The inventory data looks like this (with some generated fields removed for brevity):

[code]

Let'

[2020-07-14 17:01] seans3 commented on #202
/assign
/kind bug
/priority P1
/sig cli

[2020-07-14 17:01] seans3 commented on #202
/priority important-soon

[2020-07-15 02:28] #202 closed

[2020-07-28 19:55] teoyaomiqui opened #208 "Applier single namespace limitation"
I am working on integrating cli-utils with different projects, specifically the applier seems to be very useful. However recently I have hit an issue where we have objects with different namespaces in the same package supplied to applier, and application of resources doesn't even start because of namespace validation here: https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/apply/applier.

[2020-07-29 18:14] mortent commented on #208
@teoyaomiqui We are actually working on removing this restriction. It was added earlier to avoid some corner-cases just before the launch of kpt. We have a better understanding of this now, so it is no longer needed.

Once we remove this restriction, there will be no restriction against applying resources into multiple namespaces at the same time. Similarly, it is ok to apply both namespace-scoped

[2020-08-07 20:55] mortent commented on #208
@teoyaomiqui This restriction has been lifted with the change in https://github.com/kubernetes-sigs/cli-utils/pull/212. If you see any situations where it doesn't work as expected, just let us know.

[2020-09-06 16:09] phillebaba opened #232 "kstatus poller CompletedEvent never sent"
In kstatus the poller sends an event type with the event to indicate if an error has occurred or a value has been updated etc.

The following is stated about the event type `CompletedEvent`.
https://github.com/kubernetes-sigs/cli-utils/blob/5a5364921f40d25cbde38367c62f6b1fdda38fc4/pkg/kstatus/polling/event/event.go#L21-L23

As I understand it this means that when all of the resource that are being

[2020-09-07 22:53] mortent commented on #232
@phillebaba In a previous version of the kstatus library, we used to have an aggregator inside the poller that would determine when a set of resources had reached the `Current` status. This eventually proved a bit difficult, as we quickly run into issues where we need more flexibility around which resources should reach which status. For example, we might want some resources to be deleted and ther

[2020-09-08 19:36] phillebaba commented on #232
Thanks for the info! I understand why this behavior cant be baked into the poller. The use case I am building will not have to deal with the problems you describe, so using the aggregator in the same way as the status controller does will work for me.

Should we remove the `CompletedEvent` or change the docs as to not confuse others who may make the same assumption?

[2020-10-06 07:42] fsommar commented on #197
I'll close this and then revisit it in the future when GKE is on more recent versions of Kubernetes.

/close

[2020-10-06 07:42] #197 closed

[2020-10-09 22:37] #167 closed

[2020-10-26 22:15] #169 closed

[2020-10-31 02:56] Liujingfang1 opened #266 "add options to continue applying when encountering on errors"
Add an option `AbortOnErrors` in the ApplyOption. When it is `false`, the apply doesn't return on an error immediately. Instead, it should try apply all resources. For each resource, the returned event should capture the error if any.

[2020-10-31 02:56] Liujingfang1 commented on #266
/cc @mortent @seans3

[2020-10-31 03:01] Liujingfang1 opened #267 "change the Apply interface to use inventory.Inventory instead of unstructured.Unstructured"
Change the Applier.Run from
[code]
to
[code]

[2020-10-31 03:01] Liujingfang1 commented on #267
/cc @mortent @seans3

[2020-10-31 21:08] seans3 commented on #266
Some context: `kubectl apply` should "ContinueOnError", which is the default behavior. The current version of `kubectl` included in cli-utils does not, but that is a bug. Upgrading to using `kubectl` >= 1.18 should fix the bug.

[2020-10-31 21:37] #232 closed

[2020-10-31 22:22] mortent commented on #266
For kpt, I think we need to consider "FailOnError" as a feature, not as a bug. No matter what the original intention, it has never actually continued on error. I agree though that upgrading the kubectl libraries is a good idea, but we need to support both continue-on-error and fail-on-error.

[2020-10-31 22:27] mortent commented on #267
I know that my suggested api in https://github.com/kubernetes-sigs/cli-utils/pull/245 has the `InventoryInfo` as a real type, but I think we should consider making it an interface. For the Applier implementation we only need to be able to look up the name, namespace and id of the inventory. If we make this an interface, it would be possible for implementations of the Provider interface to turn it

[2020-11-02 16:09] Liujingfang1 commented on #267
Agreed. It should be an interface. I'll use this one for now https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/inventory/inventory.go#L32. If other functions are needed from the interface, we'll update it.

[2020-11-02 16:13] Liujingfang1 commented on #266
@seans3 Thanks for sharing the "ContinueOnError" in 1.18 kubectl. I'll take a look at that. @mortent In the kpt library, we need to provide an option for the apply behavior on error. By that option, the CLI will fail-on-error and the consumer of that library can choose continue-on-error.

[2020-11-07 01:54] seans3 opened #274 "Prune can delete all resources if inventory namespace is omitted"
Prune can erroneously delete applied resources under the following conditions:

1) The inventory object is in a separate namespace than applied resources (e.g. inventory object in default namespace)
2) One of the previously applied resources was the namespace that resources live in
3) The namespace is omitted in a subsequent apply (it will be erroneously pruned), deleting all resources in the name

[2020-11-10 05:36] #274 closed

[2020-11-16 23:22] #267 closed

[2020-11-17 20:32] Liujingfang1 opened #282 "update printer to use the new information added in apply/prune/deleteEvent"
A follow up of https://github.com/kubernetes-sigs/cli-utils/pull/281, we can update the printer to give more information based on new fields in Apply/Prune/DeleteEvent.

[2020-11-19 01:13] Liujingfang1 commented on #266
Per offline discussion, we decided the apply process to be continue-on-error by default. The process has the following steps:
1. (optional) Create the namespace for the inventory object if it doesn't exist
2. update the inventory object with the union of last applied objects and current objects
3. apply current objects
4. prune last applied objects
5. update the inventory object to remove the last

[2020-11-19 01:28] Liujingfang1 opened #288 "add check for if apply/prune can go through based on inventory id"
After resources as `[]*unstructured.Unstructured` are passed to the Applier, each resource already contains the inventory-id in its annotations. The apply/prune function need to check if the current operation can go through by comparing  the inventory-id in the passed object and that in the cluster object. When the inventory-id from two places matches, the operation can go through. To force all th

[2020-11-21 02:17] Liujingfang1 opened #290 "skip wait tasks for resources that fails during apply/prune"
Since the apply process is changed to continue on error. We should also update the wait tasks. For any resources that are failed during apply/prune, they should be skipped in the wait tasks. Otherwise, the tasks would wait for conditions that are not going to happen.

[2020-12-02 18:02] Liujingfang1 commented on #266
Fixed via #286

[2020-12-02 18:02] #266 closed

[2020-12-10 19:38] #282 closed

[2020-12-11 17:40] Liujingfang1 commented on #288
fixed via #289 and #291

[2020-12-11 17:40] #288 closed

[2020-12-15 21:53] Liujingfang1 opened #298 "the library needs a function to apply a single resource to the cluster"
Besides the main apply function
[code]

we also need the function to apply a single resource.

[code]
It removes the `owning-inventory` annotation from the resource and applies it.
It also removes the identifier for that resource from the Inventory list.

[2020-12-16 00:37] seans3 commented on #298
We should not add this function. We should only need to re-run the apply to remove the annotation and update the inventory. I'll close this shortly.

[2020-12-16 00:40] Liujingfang1 commented on #298
The `owning-inventory` is added during the apply, re-run it doesn't remove the annotation.

[2021-01-04 22:37] #208 closed

[2021-01-06 22:07] Liujingfang1 commented on #298
I'll do this in the kpt repo. Closing this issue.

[2021-01-06 22:07] #298 closed

[2021-01-06 22:23] #290 closed

[2021-01-25 18:54] Liujingfang1 opened #317 "add unit test for InventoryClient: UpdateLabels"
This function was added in #316, we need to add unit tests for it.

[2021-01-25 18:55] Liujingfang1 opened #318 "add tests for preprocess functions"
The preprocess function was added in #316, we need to add unit tests for it.

[2021-02-25 00:57] jlordiales opened #329 "Status for Job in-progress"
Hi!
I'm curious about the reasoning behind https://github.com/kubernetes-sigs/cli-utils/blob/535f781a3c1b1d66b06a93f59e7a03c03af81477/pkg/kstatus/status/core.go#L488-L490, specifically `it will have the Current status while the job is running and after it has been completed successfully`.

Why isn't `InProgress` the returned status for a job that is currently in-progress? Wouldn't that be more int

[2021-02-27 01:36] monopole opened #331 "'make test' fails on master"
Error:
[code]

[2021-02-27 01:37] monopole commented on #331
/assign @seans3  for triage, thanks!

[2021-02-27 02:10] monopole commented on #331
This is a flaky test.
[code]
sometimes passes, sometimes fails.

[2021-03-02 12:59] jlordiales commented on #329
/cc @mortent

[2021-03-02 17:59] mortent commented on #329
@jlordiales
So the primary goal for the kstatus library is to determine what we call "reconcile status", i.e. whether the desired state as expressed by a KRM resource has been fully realized in the cluster. In practice this means we want to report whether the controllers have completed their work on the resource. This is pretty intuitive for resources like Deployments, but trickier for a resource

[2021-03-02 18:28] jlordiales commented on #329
Got it! Looking forward to the configuration option for this.

I'll go ahead and close this issue. Thanks!

[2021-03-02 18:28] #329 closed

[2021-03-15 16:58] Liujingfang1 opened #335 "include apply/prune duration in events"
For apply/prune event for a single object, we can include the duration for applying/pruning that object.

[2021-03-15 16:59] Liujingfang1 commented on #335
@seans3  @mortent

[2021-05-10 04:26] ash2k opened #347 "Roadmap?"
Hi! I'm thinking of starting to use this project and I have some questions.

1. Is there a KEP? I don't see anything https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli
2. Is there a roadmap document? Any documents? I only found some notes in the meeting agenda doc.
3. Anything I should be aware of?
4. This repo depends on kubectl. Shouldn't it be the other way around (i.e. binary

[2021-05-12 12:43] hiddeco commented on #347
:heavy_plus_sign: We have been consuming this library for awhile now to benefit from `kstatus`, and [have noticed](https://github.com/fluxcd/kustomize-controller/pull/343#issuecomment-838411472) that this precise dependency causes issues while being used together with (newer) Kustomize dependencies as it pulls in a (very) old version of Kustomize (`v2.0.3`).

One way to work around this, while mai

[2021-05-15 01:47] tamalsaha opened #350 "Feature Request: Wait for Jobs to complete"
We are looking to use this library to understand the status of various k8s objects. I noticed that this library reports status as `Current` when a Job is in progress.

ref: https://github.com/kubernetes-sigs/cli-utils/blob/a051c61f6730c52cae2ab9a4f8f6529988515b9a/pkg/kstatus/status/core.go#L532-L535

I think this should be reported as `InProgress` so that it is possible to determine when a job is

[2021-05-18 16:47] mortent commented on #350
@tamalsaha The reason behind this is described in https://github.com/kubernetes-sigs/cli-utils/issues/329. We do want to make it possible to wait for jobs to complete, but that is not currently supported.

[2021-05-22 15:35] Shaked opened #357 "kstatus reports that a deployment is in progress, while that is not the case"
I am using Rancher as part of my continuous deployment. AFAIU rancher uses kstatus while trying to figure what is the current deployment(s) status and then reports back to its UI.

However, it seems like that the following lines are triggered although all deployments are in a Running state.

https://github.com/kubernetes-sigs/cli-utils/blob/8200fe56434dbb4fa897912524793af3c3384828/pkg/kstatus/stat

[2021-05-24 17:32] mortent commented on #357
@Shaked So the kstatus library only considers each workload (deployment, statefulset...) individually. So whether multiple deployments are updated at the same time won't affect the reconcile status.

The code in question here only applies to StatefulSets and only matters if the `partition` property is set on the StatefulSet. So are you seeing situations where the desired number of pods in a Statef

[2021-05-28 02:34] mortent commented on #331
Fixed in https://github.com/kubernetes-sigs/cli-utils/pull/349

[2021-06-03 06:22] ash2k commented on #347
I have stumbled upton this doc https://github.com/GoogleContainerTools/kpt/blob/master/docs/ROADMAP.md, which answers my question sufficiently.

[2021-06-03 06:22] #347 closed

[2021-06-03 06:39] ash2k opened #364 "Feature Request: Move ResourceGroup CRD from kpt to cli-utils"
https://github.com/GoogleContainerTools/kpt/blob/master/docs/ROADMAP.md#4-live-apply says there are some issues with `ConfigMap` as an inventory object. Are they documented somewhere?  I've found https://github.com/GoogleContainerTools/kpt/issues/708, but there is no explanation.

As a `cli-utils` user, I'd like to avoid any issues with `ConfigMap` and use the `ResourceGroup` CR. I wonder if it wo

[2021-06-08 18:40] mortent commented on #364
@ash2k So the change from using a CRD instead of a ConfigMap to store the inventory object actually somewhat conflates two issues, only one of which is actually related to the use of a ConfigMap.

First, the challenges that are specific to a ConfigMap were:
 * In order to encode the GKNN information in the ConfigMap we have to make some assumptions about what would be "legal" characters in the nam

[2021-06-16 04:22] ash2k commented on #364
@mortent Thanks for clarifying this. Hm, that means `ConfigMap` as-is is not fit for this purpose and... cannot be used? So the default option in this library is something that people may/will have problems with. Maybe we can change how the names are encoded, like devising an escaping mechanism or just always turning data into base64 or maybe storing it as a JSON value in a single key in the `Conf

[2021-07-05 16:00] makkes opened #382 "Allow to inject custom StatusReaders into a StatusPoller"
Currently, StatusPoller does not have a way to inject custom StatusReaders when running `Poll`. This is problematic for downstream projects making use of CRDs and having the desire to supply custom readers to kstatus. One of the issues this causes is described in https://github.com/fluxcd/kustomize-controller/issues/387.

[2021-07-08 04:54] bgrant0607 commented on #364
@ash2k How are you using cli-utils? Do you have specific interoperability use cases in mind?

cli-utils provides some building blocks for tool builders, as well as reference client implementations for certain API features, but aspirations for interoperability have decreased over time.

Projects like Helm (https://helm.sh/docs/topics/advanced/#storage-backends) and Kapp (https://carvel.dev/kapp/doc

[2021-07-12 00:50] ash2k commented on #364
@bgrant0607

We are using `cli-utils` to perform apply and pruning in the GitOps feature of the [GitLab Kubernetes Agent](https://docs.gitlab.com/ee/user/clusters/agent/).

We support inventory object template being one of the objects in the repository. Would be nice if it was interoperable with `kpt`/other tools so that if the user needs to apply/etc objects from the repository manually, they cou

[2021-07-13 12:38] makkes commented on #382
resolved

[2021-07-13 12:38] #382 closed

[2021-07-13 16:23] marshall007 commented on #364
@bgrant0607 @ash2k I think it might be a mistake to conflate the discussion around how "inventory metadata" is persisted to the cluster (which may very well be tooling specific) and the mechanism by which a user signals to the tooling that the set of resources they are applying belong to the same "inventory".

This is different from something like the `Application` CRD because, just like the previ

[2021-08-13 16:40] Liujingfang1 opened #393 "Feature Request: allow apply to ignore some resources"
When calling the Applier consecutively in a controller, sometimes we need the Applier to skip ignore some resources in the set. When the resource exists in the cluster, it skips applying for it. When the resource doesn't exist in the cluster, it skips creating it.

@haiyanmeng

[2021-08-13 18:16] karlkfi commented on #393
Why skip existing or non-existing resources? That doesn't seem like "apply" to me. Why not just filter out the resources you don't want to apply before passing it to the applier? Or make a wrapper that has the same API but does filtering?

[2021-08-13 18:52] haiyanmeng commented on #393
If the resource has been applied successfully, filtering it out would cause it to be pruned.

The caller of cli-utils may validate a resource against its schema.
At time 1, a resource passes the schema validation, and is sent to cli-utils to be applied;
At time 2, the resource config is changed and the resource fails the schema validation. So the caller may want cli-utils to skip the resource. (cl

[2021-08-13 19:39] karlkfi commented on #393
“Skip apply but don’t prune” seems like a potentially valuable use case, but how does the client know the resource hasn’t been modified by another client? There’s no way to know there’s no changes unless you actually do a server-side apply.

I think your second problem (client side schema validation) could actually be avoiding by switching to package-scoped batch apply instead of namespace-scoped

[2021-08-16 17:35] tamalsaha commented on #350
/remove-lifecycle stale

[2021-08-23 23:48] Shaked commented on #357
@mortent Unfortunately I can't remember what happened here. Closing and if it pops up again I will post more details. Thank you

[2021-08-23 23:48] #357 closed

[2021-09-27 19:28] karlkfi commented on #350
Maybe rename this: "Feature Request: Wait for Jobs to complete".

The "current" status currently means that the resource matches the spec supplied by the caller and has been reconciled by the controller. The applier is not currently designed to execute and wait for jobs. But we could hypothetically add that.

In the context of Config Sync, which use cli-utils to apply resources from a git repo, it

[2021-09-29 23:54] spencer-p opened #415 "Feature Request: Upgrade to use the kubernetes 1.22 client libraries"
Attempting to use cli-utils@v0.25.0 (the latest release at time of writing) with k8s.io/api@v0.22.2 results in the following:
[code]

The master branch has a go.mod configured to use 1.21 libraries, but the latest release is still configured for 1.20 libraries. (Is the Github Actions bot broken?)

Running `go get sigs.k8s.io/cli-utils@master` fixes the build.

Expected behavior: Building a project

[2021-09-30 01:17] ash2k commented on #415
We should probably merge https://github.com/kubernetes-sigs/cli-utils/pull/390 at some point and cut a new version.

[2021-10-07 03:47] ash2k opened #421 "Bug: apply sets that include both CRD and CR fail when not using a caching RestMapper"
When the set of applied resources contains a CRD and a CR of that new kind, applier seem to get stuck in a loop, re-trying. I think it's [waiting for the rest mapper to be updated with the new mapping](https://github.com/kubernetes-sigs/cli-utils/blob/231f3f4a699c56fe75aa65b1535b7e9ca3996704/pkg/kstatus/polling/clusterreader/caching_reader.go#L221-L232) from the CRD, but that never happens because

[2021-10-11 17:45] karlkfi opened #428 "Tech Debt: Simplify unit tests by using UnstructuredSet & ObjMetadataSet with AssertEqual deep comparison"
Follow up after https://github.com/kubernetes-sigs/cli-utils/pull/419 and https://github.com/kubernetes-sigs/cli-utils/pull/426

/assign @karlkfi

[2021-10-12 08:37] ash2k commented on #421
I've opened a PR to introduce a proper API for this https://github.com/kubernetes/kubernetes/pull/105623.

[2021-10-12 17:24] karlkfi opened #432 "Feature Request: Update inventory before exiting, even on error, cancel, or timeout."
Updating the inventory (sending inventory events) before exiting should make the inventory more up to date when `applier.Run` is cancelled (ex: from global timeout) or errors (ex: from poller error).

If needed, this feature could be optional with an UpdateInventoryOnError option, or similar.

/cc @haiyanmeng @Liujingfang1 @janetkuo (Config Sync stakeholders)

[2021-10-12 22:36] karlkfi opened #433 "Add global timeout to kapply cmds that use applier/destroyer and update example tests"
/assign @karlkfi

[2021-10-12 22:38] karlkfi opened #434 "Tech Debt: Add apply-time-mutation example test"
/assign @karlkfi

[2021-10-14 22:46] mortent opened #436 "Bug: PersistentVolumeClaim reconciliation blocks until usage by another resource"
Currently we consider a PVC to be Current when its phase becomes `Bound`. But this means that if a PVC ends up in an earlier group than the Deployment/Statefulset that uses the PVC (because of mutations or depends-on), then it will not reach Current status.
Alternatively, we can try to determine which workloads is using the PVC, and then in the solver make sure that they always end up in the same

[2021-10-14 22:50] mortent opened #437 "Feature Request: Allow resource references to omit namespace if referencing a resource in same namespace as itself"
We currently require that resource references to namespaced resource contains the namespace (i.e. `config.kubernetes.io/depends-on: apps/namespaces/default/Deployment/wordpress-mysql`). This can become a bit awkward if we have a set of resources that doesn't have the namespace set, but relies on it being resolved from the kube context. We could consider allowing the namespace to be omitted, but re

[2021-10-15 19:25] karlkfi opened #438 "Change default behavior to always wait for reconciliation & deletion confirmation"
The Applier and Destroyer each have WaitTasks used to wait until objects are Current (after apply) or NotFound (after prune/delete), but this behavior is a confusing "wait for some but not others" that is hard to describe and not relative to configuration, but rather the types of resources being applied together.

1. ReconcileTimeout, PruneTimeout, and DeleteTimeout have no explicit default value,

[2021-10-15 19:52] karlkfi commented on #438
/assign @karlkfi

[2021-10-18 05:36] karlkfi commented on #428
The Equal ignores order and duplicates when comparing the set. Having an Equal on the list also allows comparison of structs that contain the list.

It also indicates to callers that input/output order isn’t important while still allowing cli-utils to sort it without a huge refactor.

[2021-10-18 19:16] karlkfi opened #440 "Feature Request: Allow cancellation of running applier/destroyer tasks"
Currently, the baserunner handles context cancellation, but the only task it can currently interrupt is WaitTask, which it does by calling private methods (eww).

As a user who uses the global context for cancellation/timeout, I want to be able to interrupt the applier/destoryer and have it exit quickly, without finishing the ApplyTask/PruneTask.

Solution:
- Pass context to tasks by adding it to

[2021-10-18 19:17] karlkfi commented on #438
Related effort to make cancellation better/faster: https://github.com/kubernetes-sigs/cli-utils/issues/440

[2021-10-18 19:32] karlkfi opened #441 "Tech Debt: Rename prune/delete timeout to reconcile timeout"
As a new user to this code base (through kpt & Config Sync), I was initially really confused about the difference between destroy, prune, and delete. And as a contributor, I have a hard time documenting/explaining the waiting behavior after deletion.

Solution:
- Rename prune to "delete". This will make the applier & destroyer more consistent and remove ambiguity between the two.
- Rename prune/de

[2021-10-19 00:25] karlkfi opened #442 "Make kapply handle sigint and sigterm gracefully"
In cmd/main.go we should use https://pkg.go.dev/os/signal#NotifyContext to handle SIGTERM and SIGINT properly vs just exiting abruptly.

[2021-10-19 16:16] mortent opened #443 "Consider removing advanced command line features from project"
This repo contains cli-commands which includes some rather complex output formats. I think going forward we want this project to focus primarily on providing a library for actuation, rather than a cli tool. Having some simple cli commands are useful for development, but I think we should consider dropping support for the table format output and make the `kapply` cli tool just a thin wrapper around

[2021-10-19 18:40] #433 closed, assigned to karlkfi

[2021-10-27 01:52] karlkfi opened #448 "TechDebt: TaskContext.TaskChannel is never closed"
`taskrunner.NewTaskContext` creates a new `TaskChannel`, but never closes it.

The tests don't seem to care, but it means you can't listen on the TaskChannel until it is closed, including `for tr := range taskContext.TaskChannel() {`, which makes usage of the TaskChannel need some other mechanism to stop listening.

In general, the function or goroutine that sends or manages sending things to the

[2021-10-27 06:14] karlkfi opened #450 "TechDebt: Merge Prune & Delete code & names"
Delete and Prune are used to mean the same thing. I think we should combine all the prune code into the delete code. This would reduce complexity and code to maintain. AFAICT their behavior is identical.

[2021-10-27 21:03] karlkfi opened #452 "Bug: WaitTask waits for filtered resources"
WaitTask currently ignores failed applies and failed prunes, but doesn't ignore resources skipped by filters in the ApplyTask or WaitTask.

Because WaitTasks are only added when there are dependencies (depends-on, CRDs, namespaces, etc.), this hasn't been much of a problem yet, but when using a sufficiently large/complex set of resources, it's feasible for the WaitTask to wait until timeout and fa

[2021-10-28 22:32] karlkfi opened #455 "Bug: dependency waiting blocks too aggressively"
# Problems
The applier/destroyer pipelines add Apply/Prune tasks with Wait tasks, waiting for each apply/prune group to become Current (after apply) or NotFound (after prune). This behavior coupled with complex resource sets with multiple dependency branches has the following impact:
1. apply/prune can be blocked for some object even if their dependencies are ready
2. blocking waits for the slowes

[2021-10-29 18:41] #452 closed

[2021-11-01 19:22] karlkfi commented on #455
Per discussion elsewhere, we decided to change the behavior with https://github.com/kubernetes-sigs/cli-utils/pull/451 to always continue on wait timeouts (and other apply/destory errors, as was previous behavior).

This is a change in behavior, but the previous behavior was considered broken (or at least internally inconsistent).

Work on Dependency Filter and Parallel Apply should be unblocked.

[2021-11-04 19:49] karlkfi commented on #441
Ok, so new proposal: How about we just use "Reconcile[d]" for both ideas. This is what I've done for the new WaitEvent operations in https://github.com/kubernetes-sigs/cli-utils/pull/463

So this would mean combining the reconcile/prune/delete timeout configs into one `ReconcileTimeout`, and treating Apply -> Current and Delete -> NotFound as effectively the same process.

[2021-11-10 21:47] #438 closed

[2021-11-12 20:46] karlkfi opened #481 "Bug: dependency chain with namespace and apply-time-mutation fails"
Resources:
- namespace test
- pod-a
  - implicit dep: namespace test
- pob-b
  - implicit dep: namespace test
  - explicit dep: apply-time mutation with pod-a as source

Output (from kpt using cli-utils master):
[code]

[2021-11-12 20:53] karlkfi commented on #481
Explicit dep with depends-on works, so it's just apply-time-mutation that doesn't (weird!).

[code]

[2021-11-12 20:56] karlkfi commented on #481
apply-time-mutation works if the source namespace is specified. So it's just the implicit namespace resolution that breaks graph sorting.

[2021-11-12 21:09] karlkfi commented on #481
Root cause:
`graph.Sort` only uses `mutation.ReadAnnotation`, which returns an empty Namespace, if not specified by the user. The implicit namespace resolution is performed in `ApplyTimeMutator`.

Unfortunately, the easy solution of moving implicit namespace resolution into `mutation.ReadAnnotation` doesn't work, because it needs to know whether the Source and Target are both namespaced. This requ

[2021-11-12 21:31] karlkfi commented on #481
Possible workarounds:
1. Resolve mapping up front, if possible, and error at apply time, if not
    - Add a ResourceReference field to specify if the resource is cluster or namespace scoped.
    - Perform implicit namespace resolution before sorting (to avoid needing to inject the mapper into graph.SortObjs).
    - If there's no schema and the namespace is empty and the resource is namespace scope

[2021-11-13 00:37] haiyanmeng commented on #481
Today, all the namespaced objects sent from Config Sync to cli-utils have the `metadata.namespace` field explicitly set.
Is it reasonable to expect  this from other users of cli-utils ?

[2021-11-13 02:08] karlkfi commented on #481
Is it reasonable to expect this from other users of cli-utils ?

cli-utils already requires this.

This problem here is with apply-time-mutation annotations which were initially designed to support inferring the namespace of dependencies from the namespace of the dependent object. However, it does look like disable implicit namespace resolution for apply-time-mutation is the easier path forward, a

[2021-11-16 03:24] ash2k opened #483 "What is the security model of apply-time mutation feature?"
I was looking at https://github.com/kubernetes-sigs/cli-utils/pull/482 and it ocurred to me - can someone craft an annotation to pull e.g. contents of a `Secret` from another namespace? If there are users of cli-utils that use it in a sensitive context, this feature could create a security issue for them. E.g. cli-utils could be used by a privileged process, that accepts input from users and appli

[2021-11-16 18:08] haiyanmeng commented on #481
I don't think this is true. I tested with `kapply` built from the master, which doesn't require the `metadata.namespace` field of a Deployment object to be explicitly set.

[2021-11-16 19:31] karlkfi commented on #481
The Applier runs the Valdator which runs the `validateNamespace` method, passing in the list of CRDs in the set and the mapper.

The valdiator should error if it's namespace-scoped with no namespace or cluster-scoped with a namespace.

https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/object/validate.go#L124

[2021-11-16 19:46] haiyanmeng commented on #481
Accurately speaking, `Applier.Run` requires the `metadata.namespace` field of a namespaced object to be explicitly set.

kapply does not require this, since it [sets](https://github.com/kubernetes-sigs/cli-utils/blob/45a0b5b7e6b292c0a59c899aa50a3662a0c1cf7d/pkg/manifestreader/path.go#L48) the `metadata.namespace` field of a namespaced object if it is missing.

[2021-11-16 19:50] karlkfi commented on #483
This is actually one of the primary reasons we added apply-time-mutation client-side, instead of server-side. Doing it client-side means that it uses the users permissions to read any dependencies.

Of course, if you're using a server-side controller to execute the applier, then you're using the controller's permissions. But that's not much different than the problem the server-side controller alr

[2021-11-16 20:00] karlkfi commented on #481
Thanks for clarifying. I don't know if having kapply do that really helps us test, but it might be trying to duplicate kpt and kubectl behavior.

[2021-11-16 20:04] karlkfi commented on #483
Yes. But only if the user/account executing the Applier has permission to read that Secret.

[2021-11-16 20:08] karlkfi commented on #483
If that's a problem, we could hypothetically lock it down to same-namespace dependencies later. But I'm not sure what that would imply for cluster-scoped resources, or namespace-scoped resources depending on cluster-scoped resources.

[2021-11-16 21:38] karlkfi opened #484 "Feature Request: Validation Error Handling"
There's two schools of thought when handling validation:
1. Skip objects that fail validation and apply everything else
2. Exit early if any objects fail validation

## Option 1: Centralized Deployment Automation

Option 1 is desirable when the scope of the applied resources spans multiple domains (ex: multiple unrelated Deployments).

Option 1 is common with users that have a monorepo style deplo

[2021-11-16 21:44] karlkfi commented on #484
Another more complex solution could be to include support for optional failure domains by annotation (ex: `config.kubernetes.io/failure-domain: your-name-here`).

This would allow users of Option 1 deployment strategy to annotate resources with a domain name. Then cli-utils would treat each domain as an independent group of resources. With this pattern, the applier would still send ValidationEvent

[2021-11-18 01:04] mortent commented on #484
So I think there are two types of validation that can be useful:
* Client-only validation: This means we verify that resources are valid KRM resources, that annotations (such as depends-on and the apply-time mutations) are well-formed, and possibly validate against the openAPI schema. But we would do this without actually connecting to the cluster.
* Cluster validation: This means actually talking

[2021-11-18 02:06] haiyanmeng commented on #484
For the dependsOn feature, the following two types of errors does not require talking to the cluster:
1) CyclicDependenciesError: when there are cyclic dependencies between resources.
2) DeleteResourcesHavingDependentsError: when the customers try to delete a resource without deleting all its dependents.

However, to catch these two types of errors require the dependency graph. There are two optio

[2021-11-18 07:44] seans3 commented on #484
Clients should think in terms of the API, not the implementation. Clients should not need to know the `depends-on` functionality is implemented as a graph. For any type of error you expect with `depends-on` functionality, you should look to an ErrorEvent returned on the ErrorChannel that returns the information the client needs. The first `CyclicDependencyError` you described is a already captured

[2021-11-18 19:48] haiyanmeng commented on #484
Image an inventory including three resources: `A`, `B`, and `C`.
`C` depends on `B`, and `B` depends on `A`.
If the users delete `B` without deleting `C`, `DeleteResourcesHavingDependentsError` should happen.

[2021-11-18 20:28] karlkfi commented on #484
I wasn’t necessarily trying to get into how to handle all errors for this FR. I mainly wanted to focus on the handling of up front validation that the user may want to either cause exit or continue by skipping the invalid resource.

Right now validation failure causes an ErrorEvent and errors cause immediate exit.

If we wanted, we could make ErrorEvents optionally terminal with some sort of flag

[2021-11-21 23:33] mortent commented on #484
I think we should at first primarily focus on making sure we handle errors in a sane way for the case where the user wants to apply as many resources as possible, even when there are errors. I agree with @karlkfi here that we need to figure out how to handle this when we encounter these errors before we even get to the task runner. I think the guiding principle here should be that the error handli

[2021-11-22 19:37] karlkfi commented on #484
We already have skipped operations on ApplyEvent/PruneEvent/DeleteEvent/WaitEvent. If we don't want to add another event, we can mark the object as skipped in the TaskContext and add a check in the other tasks to send the skipped event, but then we would need to also store the reason why it was skipped in the TaskContext, which seems hacky and inconsistent with the existing TaskContext flags.

We

[2021-11-23 01:14] mortent commented on #484
I agree with the alternatives here, and there are some compelling arguments for the ValidationEvent approach. Are you thinking of ValidationEvent as a new top-level event or somehow combining it with the previous discussion around a WarningEvent? I'm also curious to when it would be appropriate to send ValidationEvents, i.e. should clients be prepared to receive those events at any point during th

[2021-11-25 13:56] SomtochiAma opened #487 "[Bug]: pkg/object/ParseObjMetadata incorrectly assumes rbac resource cannot have underscore in its name"
If a clusterrole / binding has an underscore in its name (e.g roles_ops which is valid in kubernetes), Using the [ParseObjMetadata](https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/object/objmetadata.go#L89) function failes with
[code]

This can be resolved by replacing the underscore with a double underscore (like it is [here](https://github.com/kubernetes-sigs/cli-utils/blob/master/p

[2021-12-02 23:33] karlkfi commented on #437
Related: https://github.com/kubernetes-sigs/cli-utils/issues/481

I'm planning on disabling implicit namespaces for apply-time-mutation for now, because it doesn't work with sorting right now.

I don't think we can re-enable it without moving to on-demand sorting, as part of async graph apply.

[2021-12-02 23:40] karlkfi commented on #421
FWIW, I think @justinsb has some code with a lazily populated caching RESTMapper that allows individual schema invalidation, rather than all or nothing rest. It also only grabs a schema as needed, instead of all at once (which currently triggers throttling).

We might want to use something like that instead of the existing CachingRESTClientGetter.

[2021-12-02 23:45] karlkfi commented on #415
Updated in https://github.com/kubernetes-sigs/cli-utils/pull/435

This is in master and will be available when we release v0.27.0, planned for December 2021.

[2021-12-02 23:48] karlkfi commented on #393
I'm adding "invalid" object tracking in https://github.com/kubernetes-sigs/cli-utils/pull/488 which are retained in the inventory if they were previously applied but are now invalid.

We could treat objects with a "skip" annotation the same way.

[2021-12-03 09:57] ash2k commented on #421
/kind bug

[2021-12-08 02:19] karlkfi commented on #455
Status update...

**Continue on wait timeout** has already been implemented:
- https://github.com/kubernetes-sigs/cli-utils/pull/451
- https://github.com/kubernetes-sigs/cli-utils/pull/493

We also want to add an optional **Continue on Validation Error** feature as part of the WIP validation redesign: https://github.com/kubernetes-sigs/cli-utils/pull/488

**Dependency Filter** is planned and will

[2021-12-08 02:29] karlkfi commented on #484
Yes. Top Level. Tho, if desired, we could maybe wrap it in an ActionGroup like the tasks. I don't know if that will provide much value tho.

In my current PR, these only happen up front before any other task. The objects that don't pass validation are then skipped and don't get any apply/prune/wait events.

If you know of any validation that needs to happen later, let me know, but i think the beha

[2022-01-05 23:51] karlkfi opened #502 "TechDebt: Add common prefix to ApplyEventOperations for consistency with other event operations"
The current ApplyEventOperation enums have very different names from the other operation enums.

- ApplyEventOperation
  - ApplyUnspecified
  - ServersideApplied
  - Created
  - Unchanged
  - Configured
- WaitEventOperation
  - ReconcilePending
  - Reconciled
  - ReconcileSkipped
  - ReconcileTimeout
- DeleteEventOperation
  - DeleteUnspecified
  - Deleted
  - DeleteSkipped
- PruneEventOperation

[2022-01-18 19:59] karlkfi opened #509 "Feature Request: Change printer output to use depends-on syntax for object references"
Right now, printers use `<namespace>/<name>` when refering to objects.

It would be more useful if the printers used the full object reference format: `<group>/<kind>/namespaces/<namespace>/<name>` (namespace-scoped) or `<group>/<kind>/<name>` (cluster-scoped).

[2022-01-24 21:47] #421 closed

[2022-01-27 01:11] karlkfi opened #518 "Bug: poller status message replaces apply failure message in table printer"
When applying an invalid Service (missing ports) I realized that the `kpt live apply --output table` output was showing me `Resource not found` instead of the apply error `The Service "cassandra" is invalid: spec.ports: Required value` which you get from kubectl apply.

I assume this means the status event for NotFound  was received after the apply event error and the table replaced the error with

[2022-01-28 00:12] #484 closed

[2022-02-01 00:42] #393 closed

[2022-02-02 22:17] karlkfi opened #526 "Bug: Dependent objects applied after dependency fails/timeout"
If a dependency fails to apply or times out waiting to reconcile, any objects that require it will still be applied. They should be skipped.

[2022-02-02 22:20] karlkfi opened #527 "Bug: Wait blocks after Delete if the object was recreated by a 3rd party between DELETE and GET."
This came from a Config Sync end to end test.

If an object is handed off between two asynchronous appliers, if might be re-created by applier B immediately after being deleted by applier A. This causes applier A to wait until timeout, instead of recognizing that the object was successfully deleted temporarily.

The easiest way to fix this should be to use the UID, which changes if the object is d

[2022-02-02 22:22] karlkfi opened #528 "Bug: Dependencies between applyobjs & pruneObjs not respected (considered external deps)"
If an object being pruned is depended on by a new or existing object being applied, validation fails with an ExternalDependencyError (if ExitError) or continues to delete the dependency (if SkipInvalid).

The desired behavior should be to prevent deletion of the dependency.

[2022-02-02 22:24] karlkfi opened #529 "Chore: Add Inventory to the TaskContext"
Adding the Inventory to the TaskContext should massively simplify updating the status of objects and pushing inventory updates to the server.

[2022-02-07 19:24] mortent opened #534 "Flaky test: TestApplier/apply_resource_with_existing_object_belonging_to_different_inventory"
This test seems is flaky: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/cli-utils-presubmit-master

[2022-02-08 02:50] karlkfi opened #536 "Bug: Destroyer should retain inventory if any objects failed to delete or reconcile"
With the new continue-on-error behavior, the DeleteInvTask is triggered even if some of the objects failed to delete. This is a bug.

Instead, we should do an InvSetTask before the DeleteInvTask, to update the inventory. Then if there are any objects left in the inventory, skip the DeleteInvTask.

[2022-02-17 08:51] rohitagarwal003 opened #548 "Bug: kstatus/status returns incorrect "Current" result immediately after DaemonSet apply"
We have a use case where we want to create a DaemonSet and wait for its replicas to be ready before moving forward with the rest of the work. I was trying to use the `kstatus/status` library to do that. I thought I would apply the DaemonSet and then continuously check the result returned by `status.Compute()`.

However, immediately after applying the DaemonSet, the `status.Compute()` method return

[2022-02-17 09:41] rohitagarwal003 commented on #548
Maybe we can use `status.desiredNumberScheduled == 0 && status.observedGeneration == 0` as a signal that DaemonSet controller hasn't acted on the manifest?

[2022-02-23 00:01] karlkfi commented on #518
another example is trying to update the

[2022-02-24 03:17] #548 closed

[2022-02-25 22:38] karlkfi opened #554 "Bug: InventoryManager.SetObjectStatus doesn't actually update the object status"
Critical bug in `InventoryManager.SetObjectStatus` means that none of the calls to SetObjectStatus actually work. Surprisingly this still passes tests, but it's likely that the status output is wrong in many cases.

 https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/inventory/manager.go#L68-L76

The `objStatus` input variable is being shaddowed by the for loop.

Because of the scoping o

[2022-02-26 05:05] #554 closed

[2022-03-01 01:55] karlkfi opened #557 "Chore: refactor Filters to take TaskContext"
The new DependencyFilter takes the context in its struct and some of the other filters need the Context to support cancellation of HTTP calls. We should refactor the Filter API to take the context in the Filter method interface.

Related: https://github.com/kubernetes-sigs/cli-utils/issues/440

[2022-03-01 03:27] #526 closed

[2022-03-01 03:27] #528 closed

[2022-03-02 04:33] karlkfi opened #559 "Bug: Inventory updates should tolerate drift (and overwrite it)"
Right now, inventory updates may return a conflict error from Kubernetes. The inventory client should detect this (`apierrors.IsConflict(err)`) and retry with a new Get (to update the ResourceVersion) + Update.

Example retry code:

[code]

example usage:
[code]

Another option is to use https://github.com/flowchartsman/retry which is nice and generic. gcloud and client-go also have retry libs.

[2022-03-02 04:34] karlkfi commented on #559
The main client causing drift right now is the Config Sync resource-group-controller, which updates the ResourceGroup (inventory) status.

[2022-03-02 22:30] karlkfi opened #561 "Feature Request: Expose skip operation reasons"
There are now multiple filters that can cause an ApplyTask or DeleteTask to be skipped. Currently, the reason returned by the filter is being logged but not exposed to the caller. This makes it hard to understand why an object's actuation was skipped.

Filters:
- CurrentUIDFilter - avoid pruning an object that was just applied
- DependencyFilter - avoid applying an object with apply unreconciled d

[2022-03-03 00:02] #415 closed

[2022-03-03 03:52] mortent commented on #561
I think using the existing `Error` fields that we already have on most of the events would be the best option here. It aligns well with the existing semantics where errors communicated through the `Apply|Prune|Delete|ValidationEvents` are considered non-fatal, while the `ErrorEvent` is used only when we encounter errors that are fatal and the operation are aborted. Using errors also allows to use

[2022-03-17 00:24] karlkfi opened #569 "Bug: event printer only prints reconcile summary once (should be 1 for apply wait & 1 for prune wait)"
Example output:
[code]

You can see there's both apply and prune, and the apply & prune groups each get their own summary print, but the reconcile print only happens at the end of the prune wait, not at the end of the apply wait.

Also, we probably need a total summary, not just action group summaries.

[2022-03-18 17:34] #443 closed

[2022-03-25 21:50] karlkfi commented on #364
/remove-lifecycle rotten

[2022-03-25 21:51] karlkfi commented on #335
/remove-lifecycle rotten

[2022-03-25 21:55] karlkfi commented on #318
/remove-lifecycle rotten

[2022-03-25 21:56] karlkfi commented on #318
Do we even still have a PreProcess func?

[2022-03-25 21:57] karlkfi commented on #317
/remove-lifecycle rotten

[2022-03-25 22:01] karlkfi commented on #487
/remove-lifecycle rotten

Still a bug:
https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/object/objmetadata.go#L96

[2022-03-25 22:02] karlkfi commented on #481
/remove-lifecycle rotten

[2022-03-25 22:02] karlkfi commented on #437
/remove-lifecycle stale

[2022-03-25 22:04] karlkfi commented on #481
Short term fix is to disable implicit namespaces, since they don't work as-is: https://github.com/kubernetes-sigs/cli-utils/pull/482

Long term fix is unknown.

[2022-03-25 22:06] karlkfi commented on #455
Remaining fixes are still TODO

/remove-lifecycle stale

[2022-03-25 22:07] karlkfi commented on #450
This is a bigger issue than just the propagation policy. I think we need to rename all the prune code and merge it with the delete code. They're basically identical except for the name it uses for the action. But it's not a small change.

/remove-lifecycle rotten

[2022-03-25 22:09] karlkfi commented on #448
Still a problem

/remove-lifecycle rotten

[2022-03-25 22:10] karlkfi commented on #442
/remove-lifecycle stale

[2022-03-25 22:11] karlkfi commented on #441
/remove-lifecycle stale

[2022-03-25 22:11] karlkfi commented on #440
/remove-lifecycle stale

[2022-03-25 22:11] karlkfi commented on #436
/remove-lifecycle stale

[2022-03-25 22:11] karlkfi commented on #434
/remove-lifecycle stale

[2022-03-25 22:12] karlkfi commented on #432
/remove-lifecycle stale

[2022-03-25 22:12] karlkfi commented on #428
/remove-lifecycle stale

[2022-03-25 22:12] karlkfi commented on #350
/remove-lifecycle stale

[2022-04-15 21:43] #483 closed

[2022-06-01 05:35] karlkfi commented on #561
Fixed by https://github.com/kubernetes-sigs/cli-utils/pull/562

[2022-06-01 05:35] #561 closed

[2022-06-05 00:49] #502 closed

[2022-06-17 21:47] #509 closed

[2022-06-28 10:26] Raffo commented on #350
/remove-lifecycle stale

[2022-06-28 12:51] Raffo opened #591 "Provide the possibility to override condition functions for resources"
Similar to https://github.com/kubernetes-sigs/cli-utils/issues/350, but not only related to Jobs, it would be great to have a way to override the behavior for the condition functions (i.e. those defined in https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/kstatus/status/core.go#L22 ) for both core types (i.e. Deployments) and individual CRDs. I tried looking at the code and docs, but I

[2022-07-07 20:21] #534 closed

[2022-07-08 04:28] #536 closed

[2022-07-13 13:41] MichaelHindley opened #594 "ObjectMetadata fieldSeparator is set to underscore, breaking Gitlab Kubernetes Agent and Crossplane."
The field separator at https://github.com/kubernetes-sigs/cli-utils/blob/4dd01e9068d2ebc8ace0f79a44ccdaebee86088f/pkg/object/objmetadata.go#L29-L32

The underscore character is indeed allowed as a resource name. As far my understanding goes, resource names fall into https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#path-segment-names where the only disallowed characters are

[2022-07-13 14:27] MichaelHindley commented on #594
Closing this as false positive, the resource names are not paths but RFC 1123, the root error was swallowed along the way and only the cli-utils field error was surfaced :)

[2022-07-13 14:27] #594 closed

[2022-07-20 15:23] gautierdelorme opened #595 "kapply panic when the inventory object is missing"
Seems like this change https://github.com/kubernetes-sigs/cli-utils/pull/457 makes `kapply` (and other tools relying on the lib) to panic when `apply` is ran against a directory without inventory object. Instead I would expect an error message to show up like it used to: https://github.com/kubernetes-sigs/cli-utils/blob/42d34da8936daf29f55d296f2a884e5062f4c49d/pkg/inventory/inventory_error.go#L15-

[2022-07-21 08:02] tim-jagenberg-piscada opened #596 "kstatus does not accept booleans for conditions"
Some resources use YAML booleans in their status conditions which are not interpreted by kstatus.

Kstatus should interpret both string and boolean representations for conditions.

For example the [new Keycloak Operator](https://github.com/keycloak/keycloak/tree/main/operator) uses booleans:

[code]

This leads to the resource never being considered reconciled by Flux.

[2022-07-23 03:42] karlkfi commented on #518
/remove-lifecycle rotten

I believe this is still a problem with the new status watcher. The bug is in the table printer, which needs to avoid overwriting actuation and reconciliation errors with status updates.

[2022-07-24 01:11] karlkfi commented on #364
/remove-lifecycle rotten

Ugh. How do I turn off this useless bot?

[2022-07-24 01:15] karlkfi commented on #364
/lifecycle frozen

[2022-07-24 01:16] karlkfi commented on #335
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-24 01:17] karlkfi commented on #318
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-24 01:18] karlkfi commented on #317
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-24 01:18] karlkfi commented on #487
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-24 01:19] karlkfi commented on #481
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-24 01:19] karlkfi commented on #450
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-24 01:19] karlkfi commented on #437
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-24 01:24] karlkfi commented on #455
/remove-lifecycle rotten
/lifecycle frozen

FWIW, the dependency filter was added. Also, now that QPS has been disabled there’s not much value in adding parallel apply unless you want to add even more server load. The ideal solution will be to eventually rewrite the apply scheduler to use an asynchronous graph.

Unfortunately, it’s not high on the priority list yet, because of other issues. But ho

[2022-07-24 01:24] karlkfi commented on #448
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-24 01:25] karlkfi commented on #441
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-24 01:26] karlkfi commented on #442
/remove-lifecycle rotten
/lifecycle frozen

Given that kapply is mostly just a test binary, this is unlikely to be prioritized. But if someone wants to do it, it would still be nice to have.

[2022-07-24 01:27] karlkfi commented on #436
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-24 01:28] karlkfi commented on #440
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-24 01:29] karlkfi commented on #434
/remove-lifecycle rotten
/lifecycle frozen

We have a few e2e tests, so this isn’t untested. It would just be nice to have some at the higher level, primarily as user examples for discoverability.

[2022-07-24 01:30] karlkfi commented on #432
/remove-lifecycle rotten
/lifecycle frozen

This would be great for reducing API load during partial failure.

[2022-07-24 01:31] karlkfi commented on #428
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-25 21:00] karlkfi commented on #595
The PR you linked was @seans3's attempt to pursue making the inventory optional. But I don't think it went all the way. I don't see any tests added for what happens when there's no inventory. And the PR removed the `Missing inventory object is false` unit test. It looks like the intended behavior was to return nil if there was no inventory, and then the nil inventory would be passed to `inventory.

[2022-07-25 21:14] karlkfi commented on #596
That seems pretty non-standard. The convention is documented here:
https://github.com/zecke/Kubernetes/blob/master/docs/devel/api-conventions.md#typical-status-properties

They're deliberately strings to allow for "Unknown". In this case, "Unknown" also helps improve the UX and error messages without having to hard code that nil means unknown. It's also a relatively common K8s convention to use st

[2022-07-25 21:16] karlkfi commented on #518
/lifecycle frozen

[2022-07-25 21:16] karlkfi commented on #557
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-25 21:16] karlkfi commented on #559
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-25 21:17] karlkfi commented on #569
I think the summary output was changed recently to be more clear.

[2022-07-25 21:17] #569 closed

[2022-07-25 21:20] karlkfi commented on #591
Yeah. I've been meaning to rewrite the StatusReader to use composition instead of needing a list, that way we could easily allow for injecting the StatusReader into the Applier/Destroyer, which would allow users to inject their own implementations, extending or replacing the default exceptions.

It just hasn't gotten to the top of the priority list yet.

If you have a list of examples that need it

[2022-07-25 21:47] gautierdelorme commented on #595
@karlkfi configmap? So probably this code https://github.com/kubernetes-sigs/cli-utils/blob/0ba75be41275cf813da3c0837fc59b9a9c177515/pkg/inventory/inventorycm.go#L34-L39 ?

[2022-07-25 22:06] karlkfi commented on #595
Makes sense that it would panic then. There's a lot of unguarded usages of ConfigMap.inv in there.

@seans3 do you have time to either make inventory fully optional or re-add the nice error check?

I think kpt always adds an inventory object, generated from its Kptfile. And ConfigSync also builds its own inventory object from the R*Sync metadata. So it's possible we don't have any real tests for t

[2022-07-25 22:08] karlkfi commented on #595
If not, I would accept a PR from @gautierdelorme that just adds back the error, and we can put Optional Inventory as a feature request back on the backlog.

[2022-07-26 13:58] gautierdelorme commented on #595
Here is the fix if we decide to move forward with it: https://github.com/kubernetes-sigs/cli-utils/pull/597.

[2022-07-26 21:31] #595 closed

[2022-07-27 14:05] tim-jagenberg-piscada commented on #596
I also reported the issue on the Keycloak side as well: https://github.com/keycloak/keycloak/issues/13074

Making kstatus more robust against probable variations in input would be good anyhow.

[2022-08-08 19:13] karlkfi commented on #591
@mortent does your recent StatusReader change make it possible/easier to inject it into the Applier?

[2022-08-09 10:20] mortent commented on #591
It does make it somewhat easier, but I think we can still make it better. With the recent change it is easier to create a new DelegatingStatusReader that includes custom StatusReader implementations. The custom ones will be prioritized before the built-in ones, so it allows for adding support for new types or replacing the behavior of existing ones.

Providing a custom StatusReader to the Applier/

[2022-08-10 11:43] Raffo commented on #591
I am not familiar with Applier/Destroyer, but we (GitHub) are not using the apply functionality directly, only `kstatus` as a library to implement a wait functionality, mostly because upstream Kubernetes does not have a standard/common way to do this for multiple resources. As we have now a couple of CRDs that we deal with, the need to customize the logic becomes more important for us. Additionall

[2022-08-10 12:11] mortent commented on #591
So if you only want to wait for a set of resources to reconcile with either the StatusPoller or the StatusWatcher, it is possible to change the set of StatusReaders used.

Example for the StatusWatcher: https://github.com/GoogleContainerTools/kpt/blob/main/pkg/status/poller.go#L43
Example for the StatusPoller: https://github.com/GoogleContainerTools/kpt/blob/main/pkg/status/poller.go#L28

Writing

[2022-08-11 13:54] Raffo commented on #591
@mortent  so what you are suggesting is to use https://github.com/kubernetes-sigs/cli-utils/blob/2cd8a3ab4594bddaf7a88ad7c950336867587e12/pkg/kstatus/polling/polling.go#L77 to plug custom status reader for individual resources, right? I have never found this and I indeed agree that it is quite a bit of boilerplate, but definitely better than what we are doing today.

[2022-11-25 11:22] #350 closed